@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

h1 {
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: overline;
}

body {
    background-color: #85ECFF;
    color: #FF7CB7;
    font-family: Source Code Pro;
    font-weight: 200;
}

img {
    width: 440px;
    border-radius: 220px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    background-color: #85ECFF;
    color: #FF7CB7;
    font-family: Source Code Pro;
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid #FF7CB7;
    padding: 10px 35px;
    margin-top: 25px;
    border-radius: 5px;
    letter-spacing: 3px;
    /* these two properties get rid of the outline in the button when clicked */
    text-decoration: none;
    outline: none;
}

button:hover {
    background-color: #FF7CB7;
    color: #85ECFF;   
}

p {
    font-size: 1.1rem;
}